.wrapper {
  position: relative;
  display: inline-block;
  width: 100%;
}

.hero {
  position: absolute;
  text-align: center;
  width: 100%;
  margin-top: 150px;
}

#particle-js {
  position: relative;
  z-index: 1;
}